<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    
   <input id="friendsInput" type="text">
   <button id="getFriendsBtn" >친구주세요</button>
   <input type="radio" name="test" value="1">Male</input>
   <input type="radio" name="test" value="0" >Female</input>
   <ul id="friendsArea">

   </ul>

   <ul id="friendBasket">

   </ul>


   ========================================== 유효성 체크 ==================
   <div>
       <input type="password" id="firstPass">
       <input type="password" id="secondPass">

       <button id="passOk">PASS OK?</button>
   </div>

   <div>
        <input type="text" id="email">
 
        <button id="mailOk">EMAIL OK?</button>
    </div>

    <!-- Copying socket.io.js to a public folder (something as resources/js/socket.io.js) is not the proper way to do it.

If Socket.io server listens properly to your HTTP server, it will automatically serve the client file 
to via http://localhost:<port>/socket.io/socket.io.js, 
    you don't need to find it or copy in a publicly accessible folder as resources/js/socket.io.js & serve it manually. -->
    <script src="http://localhost:7777/socket.io/socket.io.js"></script>
    <script src="../script/config/default.js"></script>
    <script src="../script/socket/socketInfo.js"></script>
    
    <script src="../script/controllers/friendController.js"></script>
    <script src="../script/services/friendService.js"></script>
    <script src="../script/services/commonService.js"></script>
    <script src="../script/services/userService.js"></script>
    <script src="../script/socket/socketEvent.js"></script>
    <script>
        let signalURL = config.signalURL;
        let signalPort = config.signalPort;

        AppSocket.init({io, signalURL, signalPort}, function(socket) {
            socketInfo.instance = socket;
            socket.on(config.socketEventName, AppSocket.socketEventHandler);
        })
    </script>
</body>
</html>