<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        canvas {
            border: 3px solid black;
        }
        #log {
            border: 3px solid black;
            width: 100%;
            height: 500px;
        }
        #toolbar {
            float: right;
        }
    </style>
</head>
<body>
    
    <canvas id="drawboard" width="800" height="500"></canvas>
    <canvas id="laserboard" width="800" height="500"></canvas>
    <div id="toolbar">
            <button id="pen"> 펜 </button>
            <button id="eraser"> 지우개 </button>
            <button id="highlighter"> 형광펜</button>
            <button id="color-red"> 빨간색 </button>
            <button id="color-black"> 검정색 </button>
            <button id="color-black"> 검정색 </button>
            <button id="thickness-big"> 두껍게 </button>
            <button id="thickness-small"> 얇게 </button>
            <button id="laserpoint"> 레이저포인트 </button>
        </div>
    <div id="log">
        
    </div>

    <script src="../script/controllers/whiteboardController.js"></script>
    <script src="../script/services/whiteboardService.js"></script>
</body>
</html>